<ion-content transparent>
  <div class="ion-padding header">
    <ion-avatar class="animated bounceIn">
      <img src="/assets/images/coinbene.png">
    </ion-avatar>
    <ion-text color="dark" class="ion-no-padding animated fadeInUp">
      <h1 style="margin: 0;"><b>Join</b></h1>
      <h1 style="margin: 0;"><b>CryptoCamp</b></h1>
    </ion-text>
  </div>
  <div class="ion-padding">
    <ion-card class="animated zoomIn">
      <ion-item>
        <ion-label position="floating">Your Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Enter Your Email address <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Your Password <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="password"></ion-input>
      </ion-item>
      <ion-item style="--border-color: #fff;">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label style="white-space:normal;">I have read and agreed to the terms of use and privacy policy.
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-button class="animated bounce" expand="block" mode="ios" size="large" shape="round"
      style="padding: 0 0.8rem 0 0.8rem">
      <fa-icon icon="user" size="md" slot="end" pull="right" class="animated slideInLeft"></fa-icon>
      Sign UP
    </ion-button>
  </div>
</ion-content>
<ion-footer color="dark" class="animated fadeInUp ion-text-center ion-padding">
  <ion-label color="light">Already have an account?</ion-label>
  <ion-text color="secondary" [routerLink]="['/login']">
    <h5>Log in Now</h5>
  </ion-text>
</ion-footer>
