<!-- menu navigation-->
<ion-menu side="end" menuId="content" content-id="first">
  <ion-content fullscreen class="ion-padding navigation">
    <ion-header class="header">
      <ion-toolbar mode="md">
        <ion-title slot="start" color="light" class="animated slideInLeft">CryptoCamp</ion-title>
        <ion-buttons slot="primary">
          <ion-button (click)="toggleMenu()" class="animated slideInRight">
            <ion-icon slot="icon-only" color="primary" name="close" color="light"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <br>
    <br><br>
    <ion-list>
      <ion-item class="animated zoomIn">
        <ion-icon name="home" slot="start" color="light"></ion-icon>
        <ion-label color="light">Dashboard</ion-label>
      </ion-item>
      <ion-item class="animated zoomIn">
        <ion-icon name="cash" color="light" slot="start"></ion-icon>
        <ion-label color="light">Buy/Sell</ion-label>
      </ion-item>
      <ion-item class="animated zoomIn">
        <ion-icon name="wallet" color="light" slot="start"></ion-icon>
        <ion-label color="light">My Wallet</ion-label>
      </ion-item>
      <ion-item class="animated zoomIn">
        <ion-icon name="cube" color="light" slot="start"></ion-icon>
        <ion-label color="light">Orders</ion-label>
      </ion-item>
      <ion-item class="animated zoomIn">
        <ion-icon name="podium" color="light" slot="start"></ion-icon>
        <ion-label color="light">Converter</ion-label>
      </ion-item>
      <ion-item class="animated zoomIn">
        <ion-icon name="person" color="light" slot="start"></ion-icon>
        <ion-label color="light">Contact Us</ion-label>
      </ion-item>
    </ion-list>
    <br><br>
    <ion-item style="--border-color: white;">
      <ion-avatar slot="start" class="animated slideInLeft">
        <img src="/assets/images/profile.png">
      </ion-avatar>
      <ion-label color="light" style="white-space: pre-wrap;" class="animated slideInRight"
        [routerLink]="['/menu/profile']">
        <h2>Finn</h2>
        <h4>Last logged in at 10:00 PM</h4>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="light" class="animated zoomIn" [routerLink]="['/home']">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Log Out
        </ion-button>
      </ion-buttons>
    </ion-item>
    <br>
    <ion-text color="secondary">
      <h6>Copyright reserved @ 2020</h6>
    </ion-text>
  </ion-content>
</ion-menu>

<!-- Main content -->
<ion-content fullscreen id="first">
  <ion-header class="header" mode="ios" translucent>
    <ion-toolbar>
      <ion-buttons slot="start" class="animated slideInLeft">
        <ion-button>
          <ion-icon slot="icon-only" name="home" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="animated bounce">Dashboard</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="toggleMenu()" class="animated slideInRight">
          <ion-icon slot="icon-only" color="primary" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-refresher slot="fixed" snapbackDuration="1s" pullFactor="0.5" pullMin="50" pullMax="100"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh">
    </ion-refresher-content>
  </ion-refresher>
  <div class="ion-padding container">
    <div class="scroll" scrollX="true">
      <ion-card *ngFor="let card of index" class="animated slideInRight">
        <ion-card-header class="animated slideInUp">
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content class="animated slideInDown">
          Awesome content
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <br>
  <div class="ion-padding list">
    <ion-card *ngFor="let card of index" class="animated slideInDown">
      <ion-list class="animated fadeInUp">
        <ion-item class="animated zoomIn">
          <ion-avatar slot="start">
            <img src="/assets/images/profile.png">
          </ion-avatar>
          <ion-label>
            <h2>Finn</h2>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-text color="light">
      <h6><strong>CryptoCamp</strong> @ 2020 All rights reserved</h6>
    </ion-text>
  </ion-toolbar>
</ion-footer> -->
