.header {
  text-align: center;
  margin-top: 10%;
  border: 0px;
  border-bottom: none !important;
  border-style: none;
}

.header::after {
  background-image: none;
}

ion-toolbar {
  zoom: 1.3;
  --border-color: transparent;
  --background: transparent;
  --border-style: none;
}

.container {
  height: fit-content;
  overflow: hidden;
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }
  .scroll {
    overflow-x: scroll;
  }
}
.scroll > ion-card {
  display: inline-block;
  height: 25vh;
  width: 18vh;
  white-space: pre-line;
  text-align: center;
  border-radius: 10px;
  background-color: #eff6ff;
  box-shadow: 20px 20px 20px rgba(29, 36, 56, 0.05),
    -20px -20px 20px rgba(255, 255, 255, 0.5),
    6px 6px 6px rgba(29, 36, 56, 0.05), -6px -6px 6px rgba(255, 255, 255, 0.5);
}

ion-footer > ion-toolbar {
  --background: #000;
  height: fit-content;
}

ion-button {
  cursor: pointer;
}

img {
  width: 3rem;
  height: 3rem;
}

.list > ion-card {
  border-radius: 15px;
  box-shadow: 20px 20px 20px rgba(29, 36, 56, 0.05),
    -20px -20px 20px rgba(255, 255, 255, 0.5),
    6px 6px 6px rgba(29, 36, 56, 0.05), -6px -6px 6px rgba(255, 255, 255, 0.5);
  > ion-list {
    background-color: #eff6ff;
    cursor: pointer;
  }
}

ion-item {
  --ion-background-color: transparent;
  --border-color: transparent;
}

ion-menu {
  --width: 100%;
}

.navigation {
  --ion-background-color: linear-gradient(to left, #363795, #005c97);

  > ion-list > ion-item > ion-label {
    font-size: 25px;
  }
}
