ion-toolbar {
  zoom: 1.2;
  --background: transparent;
  text-align: center;
}
.header::after {
  display: none;
}

ion-avatar {
  border-radius: 50% !important;
  zoom: 2;
  overflow: hidden;
}
.container {
  position: relative;
  min-height: 100%;
}

#top-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to left, #363795, #005c97);
}

#bottom-div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  text-align: center;
  background-color: rgb(236, 235, 235);
}

#round-image {
  position: absolute;
  left: calc(50% - 80px);
  top: calc(38% - 150px);
  z-index: 20;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  //   box-shadow: 5px 5px tomato;
}

img {
  border-radius: 50%;
  width: 147px;
  height: 147px;
  //   position: absolute;
  //   left: calc(55% - 80px);
  //   top: calc(38% - 150px);
}

.details {
  margin-top: 20%;
}

ion-item {
  display: inline-block;
  --box-shadow: none;
  --background: transparent;
  --border-color: transparent;
}
