<ion-content transparent class="ion-no-padding">
  <!-- <ion-card>
    <ion-avatar>
      <img src="assets/images/profile.png" />
    </ion-avatar>
  </ion-card> -->
  <div class="container">
    <div id="top-div">
      <ion-header class="header">
        <ion-toolbar mode="md" class="ion-no-padding">
          <ion-buttons slot="start" [routerLink]="['/menu']">
            <ion-button class="animated slideInRight">
              <ion-icon slot="icon-only" name="arrow-round-back" color="light"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title color="light" class="animated bounceIn">Finn Wolfhard</ion-title>
          <ion-buttons slot="end">
            <ion-button class="animated slideInRight">
              <ion-icon slot="icon-only" name="settings" color="light"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    </div>
    <div id="round-image" class="animated rollIn">
      <img src="/assets/images/profile-image-png-8.png" />
    </div>
    <div id="bottom-div" class="ion-padding animated zoomIn">
      <div class="details">
        <ion-text color="primary">
          <h2>Finn Wolfhard</h2>
        </ion-text>
        <ion-text color="dark">
          <h5>Experimental temporary music pioneer,</h5>
          <h5>half of due Way out West, Boss at anjunadeep.</h5>
        </ion-text>
      </div>
      <ion-item>
        <ion-button shape="round" size="large" mode="ios" color="primary" slot="start" class="animated slideInLeft">
          messages
        </ion-button>
        <ion-button shape="round" size="large" color="primary" mode="ios" slot="end" class="animated slideInRight"
          [routerLink]="['/home']">
          logout
        </ion-button>
      </ion-item>
    </div>
  </div>
</ion-content>
