@font-face {
  font-family: "LexendDeca font";
  src: url("src/fonts/LexendDeca-Regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "LexendDeca font";
  src: url("src/fonts/LexendDeca-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LexendDeca font";
  src: url("src/fonts/LexendDeca-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "LexendDeca font";
  src: url("src/fonts/LexendDeca-Regular.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LexendDeca font";
  src: url("src/fonts/LexendDeca-Regular.ttf");
  font-weight: 900;
  font-style: normal;
}
