<ion-content transparent>
  <div class="header">
    <ion-button slot="start" color="light" fill="clear" [routerLink]="['/login']" class="animated slideInRight">
      <ion-icon slot="icon-only" name="arrow-round-back" color="dark"></ion-icon>
    </ion-button>
    <br>
    <ion-avatar class="animated bounceIn">
      <img src="/assets/images/SSH-Keys.png">
    </ion-avatar>
    <br><br><br>
    <ion-text color="dark" class="ion-no-padding animated fadeInUp">
      <h2 style="margin: 0;"><b>Password Recovery</b></h2>
    </ion-text>
    <br>
    <ion-text color="dark" class="animated zoomIn">
      <h6>Enter your email address below and we will send a special reset password link to your inbox.</h6>
    </ion-text>
  </div>
  <div class="ion-padding">
    <ion-card class="animated zoomIn">
      <ion-item>
        <ion-label position="floating">Your email address<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="email"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-text color="primary">Resend recovery instructions</ion-text>
      </ion-item>
    </ion-card>
    <br>
    <ion-button class="animated bounce" expand="block" mode="ios" size="large" shape="round"
      style="padding: 0 0.8rem 0 0.8rem">
      Send Recovery Email
    </ion-button>
  </div>
</ion-content>
