.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
}
.header > ion-avatar,
ion-icon {
  zoom: 2;
}

ion-item {
  --ion-background-color: #f8f8f8;
  --highlight-color-focused: rgb(82, 82, 82);
  --highlight-color-valid: green;
  --highlight-color-invalid: red;
}

ion-card {
  --background: transparent; // black
  box-shadow: none;
}
