.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.header > ion-avatar {
  zoom: 2;
}

ion-item {
  --ion-background-color: #f8f8f8;
  --highlight-color-focused: rgb(82, 82, 82); // invalid underline color
  --highlight-color-valid: green;
  --highlight-color-invalid: red;
}

ion-card {
  --background: transparent; // black
  box-shadow: none;
}

ion-footer {
  min-height: 7rem;
  height: fit-content;
  max-height: 10rem;
  background: black;
}

ion-grid > ion-row > ion-col {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  > ion-item {
    --border-color: #fff;
  }
}
