<ion-content transparent>
    <div class="ion-padding header">
        <ion-avatar class="animated bounceIn">
            <img src="/assets/images/coinbene.png">
        </ion-avatar>
        <ion-text color="dark" class="ion-no-padding animated fadeInUp">
            <h1 style="margin: 0;"><b>Sign In to</b></h1>
            <h1 style="margin: 0;"><b>CryptoCamp</b></h1>
        </ion-text>
    </div>
    <div class="ion-padding">
        <ion-card class="animated zoomIn">
            <ion-item>
                <ion-label position="floating">Your Name</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Your Password <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="password"></ion-input>
            </ion-item>
        </ion-card>
        <div class="container">
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="6">
                        <ion-item>
                            <ion-checkbox mode="ios" class="animated slidInLeft"></ion-checkbox>
                            <ion-text color="dark" class="animated slidInLeft" style="margin-left: 0.5rem;">
                                Stay sign in
                            </ion-text>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-text color="primary" class="animated slideInRight"
                            [routerLink]="['/login/recover-password']">
                            <h6>Forget Password?</h6>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <br>
        <ion-button class="animated bounce" expand="block" mode="ios" size="large" shape="round"
            style="padding: 0 0.8rem 0 0.8rem" [routerLink]="['/menu']">
            <fa-icon icon="user" size="md" slot="end" pull="right" class="animated zoomIn"></fa-icon>
            Log In
        </ion-button>
        <ion-button class="animated bounce" expand="block" mode="ios" size="large" shape="round"
            style="padding: 0 0.8rem 0 0.8rem" (click)="authFingerprint()">
            <fa-icon icon="fingerprint" size="lg" slot="end" pull="right" class="animated zoomIn"></fa-icon>
           Scan
        </ion-button>
    </div>
</ion-content>
<ion-footer color="dark" class="animated fadeInUp ion-text-center ion-padding">
    <ion-label color="light">Don't have an account?</ion-label>
    <ion-text color="secondary" [routerLink]="['/signup']">
        <h5>Sign up</h5>
    </ion-text>
</ion-footer>
