.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  
}
.header> ion-avatar {
    zoom: 2;
}

ul>li {
    list-style: none;
}