<ion-content transparent>
  <div class="ion-padding header">
    <ion-avatar class="animated bounceIn">
      <img src="/assets/images/coinbene.png">
    </ion-avatar>
    <ion-text color="dark" class="animated fadeInUp">
      <h1><b>CryptoCamp</b></h1>
    </ion-text>
    <br>
    <ion-text color="dark" class="animated fadeInUp">
      <h2><strong>Your Cryptocurrency home base.</strong></h2>
    </ion-text>
  </div>
  <br>
  <div class="ion-padding">
    <ion-item class="animated zoomIn">
      <ion-label position="floating">Select Your Country</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let country of countryList" [value]="country">{{country}}</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-text color="dark" class="ion-text-justify">
      <ul>
        <li>
          <h6 class="animated slideIn">It is a digital asset designed to work as a medium of exchange that uses
            strong <strong>cryptography</strong> to secure financial transactions.</h6>
        </li>
      </ul>
    </ion-text>
    <br>
    <br>
    <div class="ion-padding">
      <ion-button class="animated bounce" [routerLink]="['/login']" size="large" mode="ios" expand="block"
        shape="round" color="primary">
        <fa-icon icon="arrow-right" size="md" slot="end" pull="right" class="animated slideInLeft"></fa-icon>
        Next
      </ion-button>
    </div>
  </div>
</ion-content>
